html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --header-accent-color: #dff5a0;
  --hover-hover-color: #c4f04a;
  --main-color: #595959;
  --title-color: #9e42bd;
  --black-color: #040f00;
  --gray-shadow: rgba(0, 0, 0, 0.31);
  --white-color: #fbf9fa;
  --bright-blue: #00eeff;

  --border-color: 1px solid #e6b8f5;
  /* --border-color: 1px solid rgba(214, 247, 27, 0.598); */
  --header-bg: linear-gradient(180deg, #9e42db 0%, #239ee0 100%);
  /* --header-bg: linear-gradient(180deg, #9e42db 0%, #239ee0 100%); */
  --card-bg: linear-gradient(90deg, #3253bc 20%, #9e42db 60%);

  --transition: 0.5s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
  background-color: #bce2f6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--header-accent-color);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
@media (min-windth: 768px) and (max-width: 1199.98px) {
  .container {
    padding: 10px 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    padding: 10px 35px;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .container {
    padding: 10px 60px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
