root {
  --header-accent-color: #dff5a0;
  --hover-hover-color: #c4f04a;
  --main-color: #595959;
  --title-color: #305d6c;
  --color-link: #4b7b8b;
  --black-color: #040f00;
  --gray-shadow: #6a7e6f;
  --white-color: #fbf9fa;

  --header-bg: linear-gradient(90deg, #dff5a0 0%, #4b7b8b 100%);
  --body-bg: linear-gradient(135deg, #dff5a0 0%, #89a7b2 100%) no-repeat;
  --footer-bg: linear-gradient(90deg, #4b7b8b 0%, #dff5a0 100%);
  --card-bg: radial-gradient(circle, #ffffcc 0%, #dff5a0 50%, #89a7b2 100%);
  --button-bg: linear-gradient(90deg, #c4f04a 0%, #19292e 100%);
  --transition: 0.5s ease-in-out;
  --background-color-transition: var(--button-bg);
}
